.container{
  margin: 20px;
  height: 120px;
  width: 150px;
  padding: 5px;
  background-color: beige;
  margin-bottom: 80px;

}
.hidden{
  overflow: visible;
}

.scroll{
  overflow: hidden;
}
.auto{
  overflow: scroll;
}
.visible{
  overflow: auto;
}